# imágenes crudas
dataset/**/images/

# outputs de ODM
dataset/**/opensfm/
dataset/**/odm_*/
dataset/**/odm_dem/
dataset/**/odm_orthophoto/
dataset/**/odm_georeferencing/
dataset/**/odm_meshing/
dataset/**/odm_texturing/
dataset/**/odm_filterpoints/

# archivos pesados y auxiliares
*.tif
*.tiff
*.las
*.laz
*.ply
*.log
*.aux.xml
*.wld
*.nvm
*.npz
*.png
*.jpg
*.jpeg
*.exif

# reportes intermedios
dataset/**/reports/
dataset/**/stats/

# cache
__pycache__/